.search-box {
    display: flex;
    border-radius: 30px;
    border-color: lightgrey;
    border-style: solid;
    border-width: 0.01px;
    box-shadow: 5px;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}

.search-box-icon {
    padding: 10px;
}

.borderless-input {
    appearance: none;
    border: none;
}